#lorem {
    /*  Inside Border
        padding 10px 10px 10px 10px : Top, Right, Bottom, Left
        padding 10px 25px 15px : Top, Right / Left, Bottom
        padding 10px 15px : Top / Bottom, Left / Right
    */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  
    /*  Outside Border
        margin 10px 10px 10px 10px : Top, Right, Bottom, Left
        margin 10px 25px 15px : Top, Right / Left, Bottom
        margin 10px 15px : Top / Bottom, Left / Right
    */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  
    /*
        border: 5px solid green;
        border-width, border-style, border-color
        none, dotted, dashed, solid, double, groove, ridge, inset, outset
    */
    border-top: 5px solid #00308F;
    border-bottom: 5px dotted #00308F;
    border-left: 5px dashed #00308F;
    border-right: 5px double #00308F;
  
    /*
    background: color position/size repeat origin clip attachment
    image|initial|inherit;
    background-position: left top bottom right
    (If you only specify one the other value will be center)
    background-size: auto length;
    background-repeat: repeat repeat-x repeat-y no-repeat
    background: #F2F3F4 url("Repeat.png") repeat;
    */
    background: #F2F3F4;
  
    /*
    font: font-style font-variant font-weight font-size/line-height font-family;
    font-style: normal, italic, oblique
    font-varient: normal, small-caps
    font-weight: normal, bold, bolder, lighter, 100 - 900
    font-size: medium, xx-small - small, xx-large - large, %, length in pt
    line-height: normal, length in pt, %
    font-family: "Times New Roman", Georgia, Serif
    */
  
    color: black;
  }
  
  #fsNormal {
    font-style: normal;
  }
  
  #fsItalic {
    font-style: italic;
  }
  
  #fsOblique {
    font-style: oblique;
  }
  
  #fvNormal {
    font-variant: normal;
  }
  
  #fvSmallCaps {
    font-variant: small-caps;
  }
  
  #fwNormal {
    font-weight: normal;
  }
  
  #fwBold {
    font-weight: bold;
  }
  
  #fwBolder {
    font-weight: bolder;
  }
  
  #fwLighter {
    font-weight: lighter;
  }
  
  #fszMedium {
    font-size: medium;
  }
  
  #fszXXSmall {
    font-size: xx-small;
  }
  
  #fszSmall {
    font-size: small;
  }
  
  #fszXXLarge {
    font-size: xx-large;
  }
  
  #fszLarge {
    font-size: large;
  }
  
  #fszPrct {
    font-size: 200%;
  }
  
  #fsz25pt {
    font-size: 25pt;
  }
  
  #lhNormal {
    line-height: normal;
  }
  
  #lh25pt {
    line-height: 25pt;
  }
  
  #lh200prct {
    line-height: 200%;
  }
  
  #lh200prct {
    line-height: 200%;
  }